<div class="container">

  <div class="actions">
    <button><fa-icon [icon]="['fas','search-plus']" id="plus" class="fa"></fa-icon></button>
    <button><fa-icon [icon]="['fas','search-minus']" id="minus" class="fa"></fa-icon></button>
    <button><fa-icon [icon]="['fas','cloud-download-alt']" id="download" class="fa"></fa-icon></button>
    <button><fa-icon [icon]="['fas','print']" class="fa" id="print"></fa-icon></button>
    <button><fa-icon [icon]="['fas','sync-alt']" [spin]="true" id="rotate" class="fa"></fa-icon></button>
  </div>
</div>


<app-pdf></app-pdf>
